{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock breadcrumbs %}

{% block title %}{% trans 'Cache cleared' %}{% endblock %}

{% block content %}

<h2>{% trans 'Cache cleared' %}</h2>

<p>
	{% trans 'DEBUG' %}DEBUG: {{ DEBUG }}<br>
	{% trans 'HOSTNAME' %}HOSTNAME: {{ HOSTNAME }}<br>
	{% trans 'NOW' %}NOW: {{ NOW }}<br>
</p>

<p><a href="{% url "admin:index" %}">{% trans "Return to admin" %}</a></p>

{% endblock content %}
